<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameball.gameball">

    <application
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.GameballWidgetActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".views.laregNotificationView.LargeNotificationActivity"
            android:theme="@style/Theme.Transparent"
            />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>