<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameball.gameball">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="false">
        <activity android:name=".views.challengeDetails.ChallengeDetailsActivity"></activity>
        <activity android:name=".views.GameBallMainActivity" >
            <intent-filter>
                <action android:name="GAME_BALL_MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.GameBallActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="GAME_BALL_SDK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".views.GameBallActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="GAME_BALL_SDK" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

    </application>

</manifest>